---
const { mission,missionTitle, visionTitle,vision, missionAnd } = Astro.props;
---

<section id="mision-vision" class="py-16 ">
  <div class="container mx-auto px-6">
    <!-- Título -->
    <h2 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-8 text-center">{missionAnd}</h2>

    <!-- Misión -->
    <div class="backdrop-blur-3xl p-8 rounded-lg shadow-lg mb-6">
      <h3 class="text-xl font-semibold text-black dark:text-white mb-4">{missionTitle}</h3>
      <p class="text-black dark:text-white text-lg">{mission}</p>
    </div>

    <!-- Visión -->
    <div class="backdrop-blur-3xl p-8 rounded-lg shadow-lg mb-6">
      <h3 class="text-xl font-semibold text-black dark:text-white mb-4">{visionTitle}</h3>
      <p class="text-black dark:text-white text-lg">{vision}</p>
    </div>
  </div>
</section>
